<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./../assets/images/AK-47_Frontside_Misty.png">
    <mat-card-content>
        <p>
            Medium price: {{item.median_price}}
        </p>
        <p>
            Lowest price: {{item.lowest_price}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><a href="https://steamcommunity.com/market/" target="_blank">SEE ON MARKET</a></button>
    </mat-card-actions>
</mat-card>