<div class="search-bar">
    <form action="">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput />
            <button mat-icon-button matSuffix routerLink="/item">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/5) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of items">
            <card-item [item]="item"></card-item>
        </div>
    </div>
</div>